<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spice Logistics System</title>
    <link rel="stylesheet" href="../static/old_style.css">
</head>
<body>
    <div class="main">
    <nav>
        <div class="logo">
            <img src="images/logo.png" alt="logo">
        </div>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="old_index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
    </nav>
    </div>

</body>
</html>